<body>
    <div [style.backgroundColor] = "{{ divColor }}" class="card mb-3" *ngFor = "let n of news;" >
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="assets/{{ n.imageSrc }}.jpg" class="card-img" alt="India's covid hotspots">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h6>Date: {{ n.date }}</h6>
              <h5 class="card-title">{{ n.newsLines }}</h5>
              <p class="card-text">{{ n.matter }}</p>
              <button id="{{ id }}" class="btn btn-secondary my-2 my-sm-0" (click) = "ReadMore()">ReadMore</button>
                  <div id="AdditionalMatter" *ngIf="option">{{ n.matter }}</div>
            </div>
          </div>
        </div>
      </div>
</body>